%h1 Unix and zshell notes
%p This page contains notes about ZShell
%p Last command with !!
= preserve do
  = code('shell') do
    :plain
      $ ls /tmp/
      $ !!file # Becomes ls /tmp/file
%p $! is the last argument from the previous command
= preserve do
  = code('shell') do
    :plain
      $ ls /tmp/
      $ cat $!/file # appends /file to last argument
%p Remeber that > overwrites and >> appends

ZShell for loop
= preserve do
  = code('shell') do
    :plain
       $ for file in *
       for> do
       for>   echo $file
       for> end
or
= preserve do
  = code('shell') do
    :plain
       $ for file in *
       for> echo $file
and output can be redirected:
= preserve do
  = code('shell') do
    :plain
      $ for file in *
      for> do
      for>   echo $file
      for> done | sort > /tmp/hi

